[submodule "zsh-autosuggestions2"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions

[submodule "powerlevel10k"]
    path = powerlevel10k
    url =  https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-z"]
	path = zsh-z
	url = https://github.com/agkozak/zsh-z.git
